.home{
color: black;
text-decoration: none;
}

body{
    background-color: rgb(156, 217, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: blue;
}

img{
    border-top: 4px solid rgb(248, 99, 181);
    border-right: 4px solid rgb(214, 3, 119);
    border-left: 4px solid rgb(214, 3, 119);
    border-bottom: 4px solid rgb(248, 99, 181);
}

.copyright{
    margin-bottom: 70px;
}