.jobs{
    color: black;
    text-decoration: none;
}

body{
    background-color: rgb(156, 217, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    color: blue;
}

.subtitle{
    color: rgb(10, 10, 130);
}

p{
    text-align: justify;
}