h1{
    color: blue;
}

.menu{
    color: black;
    text-decoration: none;
}

body{
    background-color: rgb(156, 217, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list{
    color: rgb(10, 10, 130);
}

img{
    border-top: 4px solid rgb(248, 99, 181);
    border-right: 4px solid rgb(214, 3, 119);
    border-left: 4px solid rgb(214, 3, 119);
    border-bottom: 4px solid rgb(248, 99, 181);
}

.learn_more{
    color: blue;
}

